.section.footer
    .container
        .row    
            .col-12.col-lg-3 
                h3 ALPHATILES
            .col-12.col-lg-3
                h3 LATEST BLOG NEWS
            .col-12.col-lg-3
                h3 OPENING TIMES
                br
                | Mon – Fri: 9:00am – 5:00pm 
                br
                | Saturday: 10:00am – 4:00pm
                br
                | Sunday: 11:00am – 3:00pm
                p 
                | Unit 2
                br
                | Kingsbury Trading Estate
                br
                | Barningham Way
                br
                | London NW9 8AU
                br 
                | info@alphatiles.co.uk
                p
                | 0208 204 1225
                br 
                | 0208 204 8555
            .col-12.col-lg-3
                img(src="http://placehold.it/400x400", alt="")
//- script(src="js/jquery-3.3.1.min.js")
//- script(src="js/bootstrap.js")
script(src="script.js")