.section.main-nav
		.container
			.row
				.site-logo.logo.col-xs-3.col-sm-2.col-md-1.col-lg-1
					h1
						a
							img(src="http://placehold.it/50x50", alt="")
				.site-logo.col-md-4 
					h2 Alphatiles
					.site-logo_description THE BIGGEST NORTH WEST LONDON TILE SHOWROOM
				.main-menu.col-md-6
					.main-menu_tel.row 	0000000	/000000000
					.main-menu_tabs.row 
						.col 
							ul
								li
									a Home
						.col 
							ul
								li
									a Tile
						.col 
							ul
								li
									a Blog
						.col 
							ul
								li
									a Gallery
						.col 
							ul
								li
									a Wish 
				.main-menu_search.col-1
					i.fa.fa-search