include partials/_header
body
	include partials/_navigation
	.section.slider-top
		.row
			img(src="http://placehold.it/1400x550", alt="")
	.section.big-images-3
		.row
			.col-lg-6
				img(src="http://placehold.it/1400x550", alt="")
				img(src="http://placehold.it/1400x550", alt="")
			.col-lg-6
				img(src="http://placehold.it/1400x550", alt="")
	.section.tile-collection
		.container
			.row
				h1 Tile Collection
				p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum beatae, doloremque nemo animi, placeat sed, ex et iste non cupiditate labore vero natus quis quasi aut cumque officiis id a!Incidunt quis doloribus quae quaerat sapiente consequatur recusandae voluptates tempore modi commodi ut suscipit nam officiis, fugiat, quam quos nulla eaque repudiandae illum. Illum quis dolor repellat repellendus quod quaerat!Inventore illum alias optio, illo sint tempora, quam id nobis suscipit aspernatur veniam quos recusandae eos assumenda nemo ad sed a praesentium odio, itaque rem beatae eum aperiam? Distinctio, quia!Non officia voluptate omnis vero voluptatibus eos, magnam repellat architecto est fuga inventore facere ad corporis maiores voluptatum mollitia illo distinctio, 
			.row
				.col-lg-4
					img(src="http://placehold.it/500x500", alt="")
				.col-lg-4
					img(src="http://placehold.it/500x500", alt="")
				.col-lg-4
					img(src="http://placehold.it/500x500", alt="")
			.row
				.col-lg-4
					img(src="http://placehold.it/500x500", alt="")
				.col-lg-4
					img(src="http://placehold.it/500x500", alt="")
				.col-lg-4
					img(src="http://placehold.it/500x500", alt="")
	.section.welcome 
		.container
			.row
				h1 Welcome
				p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum beatae, doloremque nemo animi, placeat sed, ex et iste non cupiditate labore vero natus quis quasi aut cumque officiis id a!Incidunt quis doloribus quae quaerat sapiente consequatur recusandae voluptates tempore modi commodi ut suscipit nam officiis, fugiat, quam quos nulla eaque repudiandae illum. Illum quis dolor repellat repellendus quod quaerat!Inventore illum alias optio, illo sint tempora, quam id nobis suscipit aspernatur veniam quos recusandae eos assumenda nemo ad sed a praesentium odio, itaque rem beatae eum aperiam? Distinctio, quia!Non officia voluptate omnis vero voluptatibus eos, magnam repellat architecto est fuga inventore facere ad corporis maiores voluptatum mollitia illo distinctio, libero velit alias sequi adipisci. Sunt voluptatum dolorem dolor.Quibusdam voluptatem quas accusamus laudantium molestiae, exercitationem est sequi aperiam atque earum in animi et consequatur excepturi eos odit ipsa sed cupiditate assumenda corrupti amet. Quasi assumenda iure officia aliquam?Quasi assumenda laborum at praesentium distinctio illo, veniam ipsa doloribus maxime architecto cupiditate totam inventore magnam cumque voluptate voluptatibus amet autem odit asperiores non in provident eaque quidem suscipit? Quos!Alias similique, recusandae unde iusto maxime nisi veritatis modi illum inventore, odio a? Provident reprehenderit, nostrum ratione harum aspernatur saepe voluptatum adipisci unde architecto accusantium? Illo illum necessitatibus officiis nam.Ab accusantium molestias nostrum, autem eligendi optio odio quasi cum eum laboriosam perspiciatis quaerat praesentium aut totam, repellat eos ipsa maxime magnam laudantium libero rerum quisquam, unde corrupti. Atque, at?Provident debitis cupiditate animi quos? Molestiae expedita asperiores veritatis? Consequatur, iusto hic quae esse eius explicabo, minus nesciunt accusamus reprehenderit magnam, quia placeat. At dolore blanditiis nemo fuga aut explicabo!Velit dolor 
	.section.about-us
		.row
			.container
				.row 
					h1 About us
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci velit assumenda rerum blanditiis totam ab autem illum fugiat sapiente quasi soluta reiciendis odio voluptatum exercitationem tempore ipsa, eius eos quis.Nostrum voluptatum ullam illo porro, minus possimus corrupti explicabo, neque dolor deserunt qui obcaecati! Nostrum nulla, quia explicabo temporibus nisi consequatur, commodi voluptatibus accusamus ducimus nemo sequi, veritatis quod dignissimos!Modi quo ipsa impedit possimus ratione, ad odio sed totam quis molestias nobis fugiat adipisci et magnam voluptate rerum dicta illum, neque facere provident corrupti esse maxime saepe itaque? Nostrum!Deserunt quidem rem amet, fugit quam, eius corrupti dignissimos repellendus hic dicta commodi optio maxime sed nam quibusdam unde molestias voluptatem pariatur. Dolorem cupiditate non laborum. Expedita id minima voluptas!Illum impedit eligendi dolorem neque et facere veritatis iusto quis, quidem optio quibusdam voluptates reprehenderit iste exercitationem deserunt voluptatem, numquam sapiente amet, consequuntur eveniet dignissimos est! Ab ad est id.Atque eligendi ipsum harum, animi modi eveniet, veniam numquam fuga cumque voluptatem ducimus
	.section.get-in-touch
		.row
			.col-sm-12.col-md-6
				img(src="http://placehold.it/400x550", alt="")
			.col-sm-12.col-md-6
				h3 GET IN TOUCH
				br
				| OPENING TIMES
				br
				| Mon – Fri: 9:00am – 5:00pm 
				br
				| Saturday: 10:00am – 4:00pm
				br
				| Sunday: 11:00am – 3:00pm
				p 
				| Unit 2
				br
				| Kingsbury Trading Estate
				br
				| Barningham Way
				br
				| London NW9 8AU
				br 
				| info@alphatiles.co.uk
				p
				| 0208 204 1225
				br 
				| 0208 204 8555
include partials/_footer