* {
  outline: 1px solid grey; }

body {
  font-size: 1em;
  font-family: 'Roboto', sans-serif; }

img {
  width: 100%; }

h1, h2, h3, h4 {
  margin: 10px; }

p {
  margin: 10px; }

.site-logo {
  padding: 0; }
  .site-logo_description {
    font-size: 0.7em;
    font-weight: bold; }

.main-menu_tel {
  font-size: 1.5em;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 10px; }

.main-menu_tabs {
  font-size: 0.8em;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-transform: uppercase;
  font-weight: bold; }
  .main-menu_tabs a:hover {
    color: #8BB22E; }
